@{
    @*ViewData["Title"] = "Home Page";*@
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Trang</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Admin/Page/Index">Trang</a></li>
                    <li class="breadcrumb-item active">Thêm trang</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content" id="app">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Thêm Trang</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Tiêu đề</label>
                                <input type="text" v-model="page.title" class="form-control" placeholder="Tên danh mục">
                            </div>
                            <div class="form-group">
                                <label>Nội dung</label>
                                @*<input type="text" v-model="page.pageContent" class="form-control" placeholder="Nội dung">*@
                                <div id="summernote" style="height:300px"></div>
                            </div>
                            <div class="form-group">
                                <label>Danh mục</label>
                                <select class="form-control" v-model="category">
                                    <option value="null">Chọn danh mục</option>
                                    <option v-bind:value="t" v-for="t in categories">{{ t.name }}</option>
                                </select>
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="button" v-on:click="save()" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
@section Scripts{
    <script>var app = new Vue({
            el: '#app',
            data: {
                categories: [],
                category: null,
                page: {
                    title: "",
                    categoryId: null,
                    pageConentent: ""
                }
            },
            mounted() {
                var vm = this;
                $('#summernote').summernote();
                axios.get("/api/category?type=2").then(function (res) {
                    vm.categories = res.data;
                });
            },
            methods: {
                save() {
                    if (this.category == null || this.category == undefined) {
                        alert("chon danh muc");
                        return;
                    }
                    this.page.categoryId = this.category.id;
                    this.page.pageContent = $('#summernote').summernote('code');
                    axios.post("/api/page/add", this.page).then(function (response) {
                        window.location = document.referrer;
                    });
                }
            }
        })</script>
}